# ChatGPTに書いてもらったら.gitignoreファイル
# JetBrains IDE関連
.idea/
*.iml
# wrangler(cloudflare)関連
**/.wrangler/
**/wrangler.toml
# dotenv(ローカル実行時に使う環境変数格納用)
**/.env
## cloudflareの環境変数格納用
**/.dev.vars

# Node関連
**/node_modules/
**/npm-debug.log

# その他dotfiles
**/*.editorconfig
**/*.prettierrc
**/*.browserslistrc
**/*.eslintrc.{js|json}

# TypeScriptコンパイル結果
*.js
**/*.jsx
*.js.map
*.d.ts
# OS関連
**/.DS_Store
**/Thumbs.db
# その他の一般的な無視項目
**/*.log
**/*.tmp
**/*.bak
**/*.swp